.countainerPCounter {
  height: 200px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px #aaa;
  padding: 5px;
}

.counterDisplay {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 0 5px #aaa;
  font-size: 32px;
  font-weight: bold;
  margin: 5px 2px;
  text-align: center;
}