<div class="content">
    <span onclick="tutup()">&times;</span>
    <div class="form">
        <h6>Langkah 2 dari 3 ...</h6>
        <div class="buat-kelas">
            <div class="pilih-kelas">
                <h1>Nama Absensi</h1>
                <input type="text" id="nama-absen" name="nama-kelas" placeholder="Nama Kelas Anda...">  
                <p>Silahkan masukan nama-nama Dosen  dan Mahasiswa, Termasuk nama anda sendiri</p>
                <h2>Nama Dosen</h2>
                <div class="daftar-kelas dosen" id="nama-nama-dosen">
                    <div class="input-div">
                        <input type="text" class="input-nama" placeholder="Masukan nama..."><span id="check1">| &check;</span>
                    </div>
                </div>
                <h2>Nama Mahasiswa</h2>
                <div class="daftar-kelas mahasiswa" id="nama-nama-siswa">
                    <div class="input-div">
                        <input type="text" class="input-nama" placeholder="Masukan nama..."><span id="check2">| &check;</span>
                    </div>
                </div>
            </div>
        </div>
        <button class="next" onclick="inputkanNama()">Selanjutnya</button>
    </div>
    <div class="image">
        <img src="/img/intro.png" alt="" width="400">
    </div>
</div>