<div class="content">
    <span onclick="tutup()">&times;</span>
    <div class="form">
        <h6>Langkah 2 dari 3 ...</h6>
        <div class="buat-kelas">
            <div class="pilih-kelas">
                <h1>Silahkan pilih Absensi yang pernah anda buat sebelumnya</h1>
                <div class="daftar-kelas">
                </div>
            </div>
            <h1>Atau ...</h1>
            <div class="opsi">
                <button id="opsi1" onclick="menuBuatAbsensi()">Buat absensi baru</button>
                <button id="opsi2" onclick="kelasTanpaAbsen()">Kelas tanpa absensi</button>
            </div>
        </div>
        <button class="next" onclick="nextPage2()">Selanjutnya</button>
    </div>
    <div class="image">
        <img src="/img/intro.png" alt="" width="400">
    </div>
</div>