@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --primary-color: #0361FE;
  --primary-dark-color: #003FBB;
  --primary-light-color: #03CDFF;
  --inner-background-color: #FBFAFF;
  --outer-background-color: #EAF3FC;
  --text-dark-color: #222325;
  --secondary-color: #E5EAEE;
  --danger-color: #CB1D4B;
  --danger-background-color: #FFD6D6;
  --success-color: #2FA869;
  --success-background-color: #BCEBB4;
  --secondary-dark-color: #BFC6D0;
  --linear-primary-color: linear-gradient(139.23deg, #0361FE 0%, #03CDFF 108.57%);
}

*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--outer-background-color);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rows-gravity-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rows-gravity-left-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-title {
  padding-left: 1rem;
}