<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        const ROOM_ID = `<%= roomID %>`;
    </script>
</head>
<body>
    <button id="share-cam">Open Cam</button>
    <button id="consume"> Consume </button>
    <div class="container"></div>
    <div id="text-publish"></div>
    <div id="text-consume"></div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="bundle.js"></script> -->
    <script src="dist/main.js"></script>
</body>
</html>