<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <a href="/">Home</a>
        <h1>Selamat datang di halaman Tambah Data</h1>
        <br>
        <h3>Masukan Data Baru</h3>
        <br>
        <form action="" method="POST">
            <% if (data) { %>
             <input type="hidden" name="_id" value="<%= data._id %>">
            <% } %>
            <label for="nama">Nama : </label><br>
            <input type="text" name="nama" id="nama" autocomplete="off" value="<%= data.nama %>"><br>
            <br>
            <label for="nohp">No HP : </label><br>
            <input type="text" name="nohp" id="nohp" autocomplete="off" value="<%= data.nohp %>"><br>
            <br>
            <label for="email">E-Mail : </label><br>
            <input type="text" name="email" id="email" autocomplete="off" value="<%= data.email %>"><br>
            <br>
            <button type="submit">Tambahkan</button>
        </form>
    </div>
</body>
</html>