:root {
    --blue: #006cb6;
    --green: #00ac6e;
    --yellow: #f9a13c;
    --red: #f0565b;
    --black: #35333c;
    --white: #ffffff;
    /* secondary */
    --gray: #c5cbdd;
    --pink: #e0868d;
    --green2: #118861;
    --orange: #d57c39;
}