<div class="head">
    <h1>Selamat datang di web personal saya</h1>
    <div class="info">
        <h3>Apa yang ingin anda lihat?</h3>
            <div class="pilihan">
            <div class="about">
                Tentang Saya
            </div>
            <div class="contact">
                Aplikasi kontak
            </div>
        </div>
    </div>
</div>