<form action="" method="POST">
    <label for="nama">Nama :</label>
    <input type="text" name="nama" id="nama" required>
    <br>
    <label for="nim">NIM :</label>
    <input type="number" name="nim" id="nim" required>
    <br>
    <button type="submit">Tambahkan Data</button>
</form>