<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnfundamental2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnFundamental2">
        <activity
            android:name=".LatihanBroadcastActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanDragAndDropActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanServiceActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanIntentService2Activity"
            android:exported="false" />
        <activity
            android:name=".LatihanIntentServiceActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanSharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanNavigationDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanTabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanViewPager2"
            android:exported="false" />
        <activity
            android:name=".LatihanBottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanRecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanSpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanAlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanMenuItemActivity"
            android:exported="false" />
        <activity
            android:name=".dummyresultactivity.DummyResult2Activity"
            android:exported="false" />
        <activity
            android:name=".dummyresultactivity.DummyResultActivity"
            android:exported="false" />
        <activity
            android:name=".LatihanImplicitIntent3Activity"
            android:exported="false" />
        <activity
            android:name=".LatihanImplicitIntent2Activity"
            android:exported="false" />
        <activity
            android:name=".LatihanImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.MyIntentService" />
        <service android:name=".services.MyIntentService2" />
        <service android:name=".services.MyService" />
    </application>

</manifest>